type project
developmentDependency true

releasenotes
  BUGFIX: Type initialization for Culture fails if installed cultures contains invalid neutral ancestry. Issue 82.

excludedgroups
  Analyzers
  Roslyn

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools
