source http://www.nuget.org/api/v2/

group Build
  source http://www.nuget.org/api/v2/
  nuget SourceLink
  nuget Costura.Fody
  nuget Resource.Embedder

group Analyzers
  source http://www.nuget.org/api/v2/
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget StyleCop.Analyzers
  nuget PropertyChangedAnalyzers
  nuget WpfAnalyzers
  nuget JetBrains.Annotations

group Test
  storage: none
  source http://www.nuget.org/api/v2/
  nuget NUnit
  nuget Moq
  nuget Castle.Core
  nuget Gu.Wpf.UiAutomation

group Demo
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget ModernUI.WPF
