source http://www.nuget.org/api/v2/
framework: >= net4.5

group Build
  source http://www.nuget.org/api/v2/
  nuget SourceLink

group Analyzers
  source http://www.nuget.org/api/v2/
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget Gu.Analyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget NUnit
  nuget Moq
  nuget Castle.Core 4.1.1
  nuget Gu.Wpf.UiAutomation

group Demo
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget ModernUI.WPF
