type project
include-pdbs true
title Gu.Wpf.Localization
tags wpf xaml markupextension resourcemanager localization translate language
projectUrl https://github.com/JohanLarsson/Gu.Localization
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  FEATURE: More flags.
  FEATURE: LanguageSelector.ItemTemplate
  MINOR BREAKING: Tweaked default style for LanguageSelector.
  MINOR BREAKING: Renamed some flags, they have region names now.

excludedgroups
  Analyzers
  Build