type project
include-pdbs true
title Gu.Wpf.Localization
tags wpf xaml markupextension resourcemanager localization translate language
projectUrl https://github.com/JohanLarsson/Gu.Localization
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  BUGFIX: Exclude SourceLink dependency in packages.

excludedgroups
  Analyzers
  Build