type project
include-pdbs true
title Gu.Localization
tags resourcemanager localization translate language
projectUrl https://github.com/JohanLarsson/Gu.Localization
licenseUrl http://opensource.org/licenses/MIT

releasenotes

excludedgroups
  Analyzers
  Build
